* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(50, 50, 50, 0.2);
}

::-webkit-scrollbar-thumb {
    background: #2c744f;
    border-radius: 8px;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 64px;
    background: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 100;
}

header p {
    font-weight: 600;
    color: #f0ffff;
    text-shadow: 2px 2px 4px #000;
    padding: 6px 12px;
    border-radius: 8px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
}

nav a {
    height: 32px;
    text-decoration: none;
    color: #f0ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    position: relative;
    text-shadow: 2px 2px 4px #000;
}

nav a:visited {
    color: #f0ffff;
}

.desktopMenu nav a:before {
    content: "";
    width: 80%;
    background: #f0ffff;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    transition: all .3s;
}

.desktopMenu nav a:hover:before {
    bottom: 2px;
}

.mobileMenu {
    flex-direction: column;
    padding: 16px;
    background: rgba(50, 50, 50, 0.4);
}

.hamburgerButton {
    width: 32px;
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.mobileMenu nav {
    width: 100%;
}

.mobileMenu nav ul {
    width: 100%;
    flex-direction: column;
}

.mobileMenu nav li {
    width: 100%;
}

.mobileMenu nav a {
    height: 36px;
    color: #f0ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-shadow: 2px 2px 4px #000;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: all .2s;
}

.mobileMenu nav a:hover {
    background: rgba(0, 0, 0, 0.4);
}

section {
    height: 100vh;
    background: #ebe9e2;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(./images/topBackground.svg);
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 32px;
    text-shadow: 2px 2px 2px #04773B;
}

.hero h2:after {
    content: " Developer_";
    animation: writing 1.5s infinite alternate;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/sectionBackgroundDesktop.svg);
    background-size: cover;
    background-position: center;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 32px;
    text-shadow: 1px 1px 2px #04773B;
}

.about p {
    width: 70%;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/sectionBackgroundDesktop.svg);
    background-size: cover;
    background-position: center;
}

.skills h2 {
    font-size: 40px;
    margin-bottom: 32px;
    text-shadow: 1px 1px 2px #04773B;
}

.skills ul {
    background-image: url(./images/skillsBackground.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px #000;
    width: clamp(340px, 70vw, 480px);
}

.skills li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 8px 16px;
    border-radius: 8px;
    transition: all .3s;
}

.skills li:hover {
    transform: translateY(-4px) scaleY(1.1);
}

.skills img {
    width: 32px;
}

.skills p {
    border-bottom: 1px solid #000;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 32px);
    background-image: url(./images/botBackground.svg);
    background-size: cover;
    background-position: bottom;
}

.projects h2 {
    font-size: 40px;
    margin-bottom: 32px;
    text-shadow: 1px 1px 2px #04773B;
}

.projects div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    width: 70vw;
}

.projects article {
    background: linear-gradient(#07b35a, #045c2e);
    width: 430px;
    aspect-ratio: 3/1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    padding: 24px;
    box-shadow: 2px 2px 8px #000;
}

.projects article p {
    font-size: 14px;
}

.projects article a {
    width: 72px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #ebe9e2;
    position: relative;
    margin-top: 12px;
}

.projects article a:visited {
    color: #ebe9e2;
}

.projects article a:before,
.projects article a:after {
    content: "";
    position: absolute;
    width: 55%;
    height: 50%;
    transition: all .2s;
}

.projects article a:before {
    left: 0;
    top: 0;
    border-top: 2px solid #f0ffff;
    border-left: 2px solid #f0ffff;
    transform: translate(-6px, -6px);
}

.projects article a:after {
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #f0ffff;
    border-right: 2px solid #f0ffff;
    transform: translate(6px, 6px);
}

.projects article a:hover:before {
    transform: translate(-2px, -2px);
}

.projects article a:hover:after {
    transform: translate(2px, 2px);
}

footer {
    height: 32px;
    background: rgba(17, 65, 40);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    padding-left: 12px;
    color: #ebe9e2;
    border-top: 1px dashed #ebe9e2;
}

.hidden {
    display: none;
}

@media (min-width: 741px) {
    .hamburgerMenu {
        display: none;
    }

    .mobileMenu {
        display: none;
    }
}

@media (max-width: 740px) {
    .desktopMenu {
        display: none;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .skills p {
        font-size: 14px;
    }

    .projects {
        gap: 24px;
    }

    .projects article {
        width: 360px;
    }

    .skills,
    .about {
        background-image: url(./images/sectionBackgroundMobile.svg);
        background-position-x: 500px;
    }

    .projects article h3 {
        font-size: 16px;
    }

    .projects article p {
        font-size: 12px;
    }
}

@keyframes writing {
    0% {
        content: " _";
    }

    10% {
        content: " D_";
    }

    20% {
        content: " De";
    }

    30% {
        content: " Dev_";
    }

    40% {
        content: " Deve";
    }

    50% {
        content: " Devel_";
    }

    60% {
        content: " Develo";
    }

    70% {
        content: " Develop_";
    }

    80% {
        content: " Develope";
    }

    100% {
        content: " Developer_";
    }
}